body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  line-height: 26px;
}

/* ОБШИЕ ПРАВИЛА */
.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

figure {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0 auto;
  padding: 0;
}

/* MAIN MENU */

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
}

.main-menu {
  padding-left: 6%;
  padding-right: 6%;
  font-weight: bold;
}

.main-menu a {
  float:left;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.main-menu a:nth-child(2) {
  margin-right: 20%;
}

.main-menu a:nth-child(4n+1) {
  text-align: left;
}

.main-menu a:nth-child(4n) {
  text-align: right;
  margin-right: 0;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


/* Главная страница*/


.header-slogan {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 80px;
  background-image: url('../img/main-background-photo.jpg');
}

.header-slogan img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.features-header {
  width: 39%;
  margin: 0 auto;
  text-align: center;
  line-height: 26px;
}

.features-description {
  font-size: 21px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.features-header p {
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-content {
  float: left;
  width: 54.5%;
}

.rate {
  float: right;
  width: 20%;
  text-align: right;
}

.reason {
  float: left;
  width: 33%;
  text-align: center;
  line-height: 21px;
}

.reason-name {
font-size: 21px;
font-weight: bold;
}

.reason-image {
  height: 256px;
  overflow: hidden;
  width: 67%;
  margin: 0;
}

.reason-row-image .reason-image {
  float: right;
}

.reason-row-invert .reason{
  float: right;
  width: 33%;
  text-align: center;
}

.reason-row-invert .reason-image {
  float: left;
}

.booking {
  width: 48%;
  margin: 0 auto;
  text-align: center;
}

.booking h2 {
  font-weight: bold;
  font-size: 30px;
}

.booking-search-btn,
.booking-form-btn {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: #ffffff;
}

.results-sorting,
.booking h3 {
font-weight: bold;
line-height: 26px;
}

.form-booking {
  width: 576px;
  margin: 0 auto;
  text-align: center;
}

/* HOTELS */

.content-container {
  padding-left: 6%;
  padding-right: 6%;
}

.hotel-filter {
  width: 100%;
  background-image: url('../img/catalog-background-photo.jpg');
}

.hotel-filter-form {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}

.services {
  float:left;
  width: 33%;
}

.services legend {
  font-size: 16px;
  line-height: 21px;
}
.service {
  display: block;
  line-height: 21px;
}

.type {
  float:left;
  width: 33%;
}

.price {
  float: right;
  width: 33%;
}

.results-sorting h1 {
  float: left;
  width: 13.5%;
  font-size: 21px;
}

.sorting-parent {
  float: left;
  width: 74.5%;
  font-size: 0;
}

.sorting-parent span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.sorting-parent ul {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.results-sorting li {
  display: inline-block;
  vertical-align: middle;
}

.results-arrows {
  float: right;
  width: 5%;
  font-size: 0;
}

.results-arrow-down {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px
}

/* MAIN FOOTER */

.main-footer {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 6%;
  padding-right: 6%;
}

.footer-hastag {
  float: left;
  width: 26%;
  margin-right: 5%;
}

.footer-social-btn {
  float: left;
  width: 34%;
  margin-right: 5%;
}

.footer-copyright {
  float: right;
  width: 26%;
  font-size: 0;
}

.footer-copyright span {
  display: inline-block;
  font-size: 14px;
}
