body {
  font-family: "PT Sans Regular", "Tahoma", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  line-height: 24px;
}

.results-sorting,
.booking h3 {
font-weight: bold;
font-size: 21px;
line-height: 26px;
}

.booking-search-btn,
.booking-form-btn {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: #ffffff;
}

.reason {
line-height: 21px;
}

.reason-name {
font-size: 21px;
font-weight: bold;
}

.reason-number {

}

.booking h2 {
  font-weight: bold;
  font-size: 30px;

}

.main-menu {
  font-weight: bold;
  line-height: 26px;
}

.features-header {
  line-height: 26px;
}

.features-description {
  font-size: 21px;
  font-weight: bold;
}

/* Сетка страниц */

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
}

figure {
  margin: 0;
}

.main-menu {
  float: left;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}

.main-menu a {
  float:left;
  width: 20%;
  margin-right: 6%;
}
.main-menu a:last-child {
  margin-right: 0;
}

.header-img {
  float:left;
  width: 100%;
}

.header-slogan {
  width: 39%;
  margin: 0 auto;
}

.hotel-filter {
  padding-left: 6%;
  padding-right: 6%;
}

.services {
  float:left;
  width: 33%;
}

.service {
  display: block
}

.type {
  float:left;
  width: 33%;
}

.price {
  float: right;
  width: 33%;
}

fieldset {
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.results-sorting {
  padding-left: 6%;
  padding-right: 6%;
}

.results-sorting h1 {
  float: left;
  width: 13.5%;
}

.sorting-parent {
  float: left;
  width: 54.5%;
  font-size: 0;
}

.sorting-parent span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.sorting-parent ul {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.results-sorting li {
  display: inline-block;
  vertical-align: middle;
}

.results-arrows {
  float: right;
  width: 20%;
  font-size: 0;
}

.results-arrow-down {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px
}

.features-header {
  width: 39%;
  margin: 0 auto;
}

.hotel {
  padding-left: 6%;
  padding-right: 6%;
}

.hotel-foto {
  float: left;
  width: 13.5%;
}

.hotel-content {
  float: left;
  width: 54.5%;
}

.rate {
  float: right;
  width: 20%;
}

.reason {
  width:
}
.reason-row-image .reason-blue {
  float: left;
  width: 33%;
}

.reason-row-image .reason-image {
  float: right;
  width: 67%;
  margin: 0;
}

.reason-image-house {
  float: left;
  width: 33%;
}

.reason-image-burger {
  float: left;
  width: 33%;
}

.reason-image-gift {
  float: left;
  width: 33%;
}

.reason-row-invert .reason-blue {
  float: right;
  width: 33%;
}

.reason-row-invert .reason-image {
  float: left;
  width: 67%;
  margin: 0;
}

.reason-gray {
  float:left;
  width: 33%;
}

.booking {
  width: 48%;
margin: 0 auto;
}

.form-booking {
  width: 48%;
  margin: 0 auto;
}

.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 6%;
  padding-right: 6%;
}

.footer-hastag {
  float: left;
  width: 26%;
  margin-right: 5%;
}

.footer-social-btn {
  float: left;
  width: 34%;
  margin-right: 5%;
}

.footer-copyright {
  float: right;
  width: 26%;
  font-size: 0;
}

.footer-copyright span {
  display: inline-block;
  font-size: 14px;
}


.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
